@(person: Person)

<!DOCTYPE html>
<html>
    <head>
        <title>Simple display page</title>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
        <script src='@routes.Assets.at("javascripts/hello.js")' type="text/javascript"></script>
    </head>
    <body>
       <p>@person.name, @for(age <- person.age) { @age }</p>
       <ul>
        @person.things.map { thing =>
            <li>@thing.id, @thing.description</li>
        }
       </ul>
    </body>
</html>
